@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-sans);

  --color-bg: var(--bg);
  --color-bg-content: var(--bg-content);
  --color-bg-focus: var(--bg-focus);
  --color-bg-active: var(--bg-active);

  --color-text: var(--text);
  --color-text-focus: var(--text-focus);
  --color-text-active: var(--text-active);

  --color-primary: var(--primary);
  --color-primary-content: var(--primary-content);
  --color-primary-focus: var(--primary-focus);
  --color-primary-active: var(--primary-active);

  --color-secondary: var(--secondary);
  --color-secondary-content: var(--secondary-content);
  --color-secondary-focus: var(--secondary-focus);
  --color-secondary-active: var(--secondary-active);

  /* Shadcn */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  /* --color-secondary-foreground: var(--secondary-foreground); */
  /* --color-secondary: var(--secondary); */
  /* --color-primary-foreground: var(--primary-foreground); */
  /* --color-primary: var(--primary); */
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --bg: oklch(96.7% 0.003 264.542);
  --bg-content: oklch(13% 0.028 261.692);
  --bg-focus: oklch(98.5% 0.002 247.839);
  --bg-active: oklch(92.8% 0.006 264.531);

  --text: oklch(21% 0.006 285.885);
  --text-focus: oklch(14.1% 0.005 285.823);
  --text-active: oklch(37% 0.013 285.805);

  --primary: oklch(91.7% 0.08 205.041);
  --primary-content: oklch(39.8% 0.07 227.392);
  --primary-focus: oklch(95.6% 0.045 203.388);
  --primary-active: oklch(78.9% 0.154 211.53);

  --secondary: oklch(20.8% 0.042 265.755);
  --secondary-content: oklch(96.8% 0.007 247.896);
  --secondary-focus: oklch(37.2% 0.044 257.287);
  --secondary-active: oklch(12.9% 0.042 264.695);

  /* Shadcn */
  --radius: 0.625rem;
  /* --background: oklch(1 0 0); */
  /* --foreground: oklch(0.129 0.042 264.695); */
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  /* --primary: oklch(0.208 0.042 265.755); */
  /* --primary-foreground: oklch(0.984 0.003 247.858); */
  /* --secondary: oklch(0.968 0.007 247.896); */
  /* --secondary-foreground: oklch(0.208 0.042 265.755); */
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  /* Todo: update colors to dark mode colors */
  --bg: oklch(21% 0.034 264.665);
  --bg-content: oklch(98.5% 0.002 247.839);
  --bg-focus: oklch(13% 0.028 261.692);
  --bg-active: oklch(27.8% 0.033 256.848);

  --text: oklch(96.7% 0.001 286.375);
  --text-focus: oklch(98.5% 0 0);
  --text-active: oklch(87.1% 0.006 286.286);

  --primary: oklch(30.2% 0.056 229.695);
  --primary-content: oklch(86.5% 0.127 207.078);
  --primary-focus: oklch(45% 0.085 224.283);
  --primary-active: oklch(20.2% 0.056 229.695);

  --secondary: oklch(86.9% 0.022 252.894);
  --secondary-content: oklch(20.8% 0.042 265.755);
  --secondary-focus: oklch(98.4% 0.003 247.858);
  --secondary-active: oklch(70.4% 0.04 256.788);

  /* Shadcn */
  /* --background: oklch(0.129 0.042 264.695); */
  /* --foreground: oklch(0.984 0.003 247.858); */
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  /* --primary: oklch(0.929 0.013 255.508); */
  /* --primary-foreground: oklch(0.208 0.042 265.755); */
  /* --secondary: oklch(0.279 0.041 260.031); */
  /* --secondary-foreground: oklch(0.984 0.003 247.858); */
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-bg-active text-bg-content font-sans;
  }
}

@layer components {
  .hero-title {
    @apply text-4xl md:text-6xl text-text-focus font-bold leading-none;
  }
  .hero-text {
    @apply text-lg text-text-active md:text-xl;
  }
  .page-title {
    @apply text-center mx-auto text-2xl md:text-4xl md:mb-4 max-w-md font-semibold mb-2;
  }
}
